.type-159 {
  color: #73879c;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
  margin-top: 100px;
  width: 90%;
  margin-left: 5%;
}
.type-159 a {
  text-decoration: none;
}
.type-159 ul {
  list-style: none;
}
.type-159 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #e6e9ed;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  opacity: 1;
  transition: all 0.2s ease;
  margin-bottom: 10px;
  position: relative;
}
.type-159 .x_panel .x_content {
  position: relative;
  width: 100%;
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 5px;
}
.type-159 .x_panel .x_content .weather-days .col-sm-2 {
  width: 16.66666667%;
}
.type-159 .x_panel .x_content .weather-days .col-sm-2 .daily-weather .day {
  font-size: 14px;
  border-top: 2px solid rgba(115,135,156,0.36);
  text-align: center;
  border-bottom: 2px solid rgba(115,135,156,0.36);
  padding: 5px 0;
}
.type-159 .x_panel .x_content .weather-days .col-sm-2 .daily-weather h3.degrees {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.type-159 .x_panel .x_content .weather-text h2 {
  font-size: 18px !important;
  font-weight: 400 !important;
}
.type-159 .x_panel .x_content h4 {
  font-size: 16px;
  font-weight: 500;
}
.type-159 .x_panel .x_content .dashboard-widget-content {
  padding-top: 9px;
}
.type-159 .x_panel .x_content .dashboard-widget-content .sidebar-widget {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  text-align: center;
  float: right;
  padding: 2px;
  margin-top: 10px;
}
.type-159 .x_panel .x_content .dashboard-widget-content ul.quick-list {
  width: 45%;
  padding-left: 0;
  display: inline-block;
}
.type-159 .x_panel .x_content .dashboard-widget-content ul.quick-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
}
.type-159 .x_panel .x_content .dashboard-widget-content ul.quick-list li a {
  color: #5a738e;
}
.type-159 .x_panel .x_content .dashboard-widget-content ul.quick-list li i {
  padding-right: 10px;
  color: #757679;
}
.type-159 .x_panel .x_content table.tile_info td {
  text-align: left;
  padding: 1px;
  font-size: 15px;
}
.type-159 .x_panel .x_content table.tile_info td i {
  margin-right: 8px;
  font-size: 17px;
  float: left;
  width: 18px;
  line-height: 28px;
}
.type-159 .x_panel .x_content table.tile_info td p {
  padding-right: 30px;
  width: 100%;
  margin: 0;
  line-height: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.type-159 .x_panel .x_content table.tile_info td p i {
  margin-right: 8px;
  font-size: 17px;
  float: left;
  width: 18px;
  line-height: 28px;
}
.type-159 .x_panel .x_content ul.user_data li .progress {
  width: 90%;
}
.type-159 .x_panel .x_content .widget_summary {
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.type-159 .x_panel .x_content .widget_summary .w_20 {
  width: 20%;
}
.type-159 .x_panel .x_content .widget_summary .w_25 {
  width: 25%;
}
.type-159 .x_panel .x_content .widget_summary .w_55 {
  width: 55%;
}
.type-159 .x_panel .x_content .widget_summary .w_left {
  float: left;
  text-align: left;
}
.type-159 .x_panel .x_content .widget_summary .w_center {
  float: left;
}
.type-159 .x_panel .x_content .widget_summary .w_right {
  float: left;
  text-align: right;
}
.type-159 .x_panel .x_content .widget_summary .w_right span {
  font-size: 20px;
}
.type-159 .x_panel .x_content h4 {
  font-size: 16px;
  font-weight: 500;
}
.type-159 .x_panel .x_title {
  border-bottom: 2px solid #e6e9ed;
  padding: 1px 5px 6px;
}
.type-159 .x_panel .x_title .navbar-right {
  margin: 0;
  width: 15%;
  float: right;
}
.type-159 .x_panel .x_title .navbar-right li {
  display: inline-block;
  float: right;
  position: static;
}
.type-159 .x_panel .x_title .panel_toolbox {
  float: right;
  min-width: 70px;
}
.type-159 .x_panel .x_title .panel_toolbox li {
  float: left;
  cursor: pointer;
}
.type-159 .x_panel .x_title .panel_toolbox li a {
  padding: 5px;
  color: #c5c7cb;
  font-size: 14px;
}
.type-159 .x_panel .x_title .panel_toolbox li a:hover {
  background: #f5f7fa;
}
.type-159 .x_panel .x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
}
.type-159 .x_panel .x_title h2 small {
  margin-left: 10px;
}
.type-159 .fixed_height_320 {
  height: 320px;
}
.type-159 .blue {
  color: #3498db;
}
.type-159 .green {
  color: #1abb9c;
}
.type-159 .purple {
  color: #9b59b6;
}
.type-159 .aero {
  color: #9cc2cb;
}
.type-159 .red {
  color: #e74c3c;
}
.type-159 .progress_summary .progress .progress-bar {
  position: absolute;
  overflow: hidden;
  line-height: 20px;
}
.type-159 .progress_summary .bg-green {
  background: #1abb9c !important;
  border: 1px solid #1abb9c !important;
  color: #fff;
}
.type-159 .progress_summary .progress {
  margin: 5px 0 12px !important;
}
.type-159 .progress_summary .progress.progress_sm,
.type-159 .progress_summary .progress.progress_sm .progress-bar {
  height: 10px !important;
}
@media only screen and (max-width: 321px) {
  .type-159 .x_panel {
    width: 120% !important;
    margin-left: -6%;
  }
  .type-159 .x_panel .x_content .progress {
    height: 10px;
  }
  .type-159 .x_panel .x_content table.tile_info td p {
    padding-right: 13px;
    width: 102%;
    margin: 0;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px !important;
  }
  .type-159 .x_panel .x_content .P_left {
    margin: 0 0 10px;
    margin-left: -10px;
  }
  .type-159 .x_panel .x_content .P_left1 {
    margin-left: 12px;
  }
  .type-159 .x_panel .x_content .widget_summary .w_right span {
    font-size: 12px;
  }
  .type-159 .x_panel .x_title h2 {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 376px) {
  .type-159 .x_panel {
    width: 112% !important;
    margin-left: -6%;
  }
  .type-159 .x_panel .x_content .progress {
    height: 10px;
  }
  .type-159 .x_panel .x_content table.tile_info td p {
    padding-right: 13px;
    width: 102%;
    margin: 0;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px !important;
  }
  .type-159 .x_panel .x_content .P_left {
    margin: 0 0 10px;
    margin-left: -10px;
  }
  .type-159 .x_panel .x_content .P_left1 {
    margin-left: 13px;
  }
  .type-159 .x_panel .x_content .widget_summary .w_right span {
    font-size: 13px;
  }
  .type-159 .x_panel .x_title h2 {
    font-size: 17px !important;
  }
}
@media only screen and (max-width: 769px) {
  .type-159 .x_panel {
    width: 105% !important;
    margin-left: -11%;
  }
  .type-159 .x_panel .x_content .progress {
    height: 10px;
  }
  .type-159 .x_panel .x_content table.tile_info td p {
    padding-right: 13px;
    width: 102%;
    margin: 0;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px !important;
  }
  .type-159 .x_panel .x_content .P_left {
    margin: 0 0 10px;
    margin-left: -10px;
  }
  .type-159 .x_panel .x_content .P_left1 {
    margin-left: 13px;
  }
  .type-159 .x_panel .x_content .widget_summary .w_right span {
    font-size: 13px;
  }
  .type-159 .x_panel .x_title h2 {
    font-size: 17px !important;
  }
}
@media only screen and (max-width: 1025px) {
  .type-159 .x_panel {
    width: 105% !important;
    margin-left: -16%;
  }
}
