.type-169 {
  margin-top: 10px;
  color: #73879c;
  display: block;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
  padding: -1px 20px;
  z-index: 2;
}
.type-169 a {
  text-decoration: none;
}
.type-169 ul {
  list-style: none;
}
.type-169 .x_panel {
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  background: #ffffff;
  border: 1px solid #e6e9ed;
  display: inline-block;
  margin-bottom: 10px;
  opacity: 1;
  padding: 10px 17px;
  transition: all 0.2s ease;
  width: 100%;
}
.type-169 .x_panel .x_title {
  border-bottom: 2px solid #e6e9ed;
  margin-bottom: 10px;
  padding: 1px 5px 6px;
}
.type-169 .x_panel .x_title h2 {
  display: block;
  float: left;
  font-size: 18px;
  font-weight: 400;
  margin: 5px 0 6px;
}
.type-169 .x_panel .x_title .panel_toolbox {
  float: right;
  min-width: 70px;
}
.type-169 .x_panel .x_title .panel_toolbox li {
  cursor: pointer;
  float: left;
}
.type-169 .x_panel .x_title .panel_toolbox li a {
  color: #c5c7cb !important;
  font-size: 14px;
  padding: 5px;
}
.type-169 .x_panel .x_title .panel_toolbox li a:hover {
  background: #f5f7fa !important;
}
.type-169 .x_panel .x_title ul .navbar-right {
  margin-right: 0;
  margin-top: -34px;
}
.type-169 .x_panel .x_title ul .navbar-right li {
  display: inline-block;
  margin-right: 0;
  position: static;
}
.type-169 .x_panel ul.to_do {
  padding: 0;
}
.type-169 .x_panel ul.to_do li {
  background: #f3f3f3;
  border-radius: 3px;
  list-style: none;
  margin-bottom: 5px;
  padding: 7px;
  position: relative;
}
.type-169 .x_panel ul.to_do p {
  margin: 0;
}
.type-169 .x_panel ul.msg_list li {
  background: #f7f7f7;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  width: 100% !important;
}
.type-169 .x_panel ul.msg_list li:last-child {
  margin-bottom: 6px;
  padding: 10px;
}
.type-169 .x_panel ul.msg_list li a {
  padding: 3px 5px !important;
}
.type-169 .x_panel ul.msg_list li a .time {
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  right: 60px;
}
.type-169 .x_panel ul.msg_list li a .message {
  display: block !important;
  font-size: 11px;
}
.type-169 .x_panel ul.msg_list li a .image img {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  float: left;
  margin-right: 10px;
  width: 11%;
}
.type-169 .x_panel .timeline li {
  border-bottom: 1px solid #e8e8e8;
  clear: both;
  position: relative;
}
.type-169 .x_panel .timeline li h2.title {
  font-size: 16px;
  margin: 0;
  position: relative;
}
.type-169 .x_panel .timeline li .block {
  border-left: 3px solid #e8e8e8;
  margin: 0 0 0 105px;
  overflow: visible;
  padding: 10px 15px;
}
.type-169 .x_panel .timeline li .block .tags {
  left: -2px;
  position: absolute;
  top: 35px;
  width: 84px;
}
.type-169 .x_panel .timeline li .block .tags .tag {
  background: #1abb9c;
  color: #ffffff !important;
  display: block;
  font-size: 13px;
  height: 30px;
  line-height: 1;
  padding: 8px;
}
.type-169 .x_panel .timeline li .block .tags .tag:after {
  border-bottom: 14px solid transparent;
  border-left: 11px solid #1abb9c;
  border-top: 14px solid transparent;
  content: " ";
  height: 30px;
  left: 100%;
  margin: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 0;
}
.type-169 .x_panel .timeline li .block .tags .tag span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.type-169 .x_panel .x_content {
  clear: both;
  float: left;
  margin-top: 5px;
  padding: 0 5px 6px;
  width: 100%;
}
.type-169 .x_panel .x_content .bs-example .jumbotron h1 {
  font-size: 4.5em;
}
.type-169 .x_panel .x_content .bs-example .jumbotron p {
  font-size: 21.5px;
  font-weight: 200;
  margin-bottom: 15px;
  width: 400px;
}
.type-169 .x_panel .x_content .alert-success {
  background-color: rgba(38,185,154,0.88);
  border-color: rgba(38,185,154,0.88);
  color: #ffffff;
}
.type-169 .x_panel .x_content .alert-info {
  background-color: rgba(52,152,219,0.88);
  border-color: rgba(52,152,219,0.88);
  color: #e9edef;
}
.type-169 .x_panel .x_content .alert-warning {
  background-color: rgba(243,156,18,0.88);
  border-color: rgba(243,156,18,0.88);
  color: #e9edef;
}
.type-169 .x_panel .x_content .alert-danger {
  background-color: rgba(231,76,60,0.88);
  border-color: rgba(231,76,60,0.88);
  color: #e9edef;
}
.progress1 {
  position: absolute;
  left: 50.5%;
  top: 40%;
  width: 8.5%;
  height: 50%;
  filter: alpha(opacity=80);
  height: 200px;
}
.progress2 {
  position: absolute;
  left: 50.5%;
  top: 40%;
  width: 12.5%;
  height: 50%;
  filter: alpha(opacity=80);
  height: 200px;
}
.progress-bar1 {
  position: absolute;
  top: 30%;
  width: 100%;
}
.r1 {
  margin-top: 200px;
}
@media (max-width: 1200px) {
  .x_title h2 {
    width: 62%;
    font-size: 17px;
  }
}
@media (max-width: 1025px) and (min-width: 770px) {
  .container .x_panel {
    margin-top: 20px;
    width: 99%;
    margin-left: 1%;
  }
  .container .x_panel .x_content .bs-example .jumbotron h1 {
    font-size: 3.5em !important;
  }
  .container .x_panel .x_content .bs-example .jumbotron p {
    width: 125% !important;
  }
}
@media (max-width: 769px) and (min-width: 427px) {
  .container {
    margin-top: 20px;
    width: 150% !important;
    padding: 0;
  }
  .container .x_panel {
    margin-left: 3%;
    width: 97%;
  }
}
@media (max-width: 426px) and (min-width: 322px) {
  .container {
    margin-top: 20px;
    width: 150% !important;
    padding: 0;
  }
  .container .x_panel {
    margin-left: 15px;
    width: 97%;
  }
  .container .x_panel .timeline li h2.title {
    font-size: 15px !important;
    width: 105%;
  }
  .container .x_panel .timeline li .byline {
    font-size: 9px;
  }
  .container .x_panel .timeline li .excerpt {
    font-size: 8px;
  }
  .container .x_panel .timeline li .block {
    margin: 0 0 0 82px;
  }
  .container .x_panel .timeline li .block .tags .tag {
    height: 25px;
    font-size: 8px;
    padding: 7px;
    width: 82%;
  }
  .container .x_panel .timeline li .block .tags .tag:after {
    margin-left: -15px;
    height: 25px;
    pointer-events: none;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 11px solid #1abb9c;
  }
  .container .x_panel .x_content .bs-example .jumbotron h1 {
    font-size: 60px !important;
  }
  .container .x_panel .x_content .bs-example .jumbotron p {
    width: 100% !important;
  }
}
@media (max-width: 321px) {
  .container {
    margin-top: 20px;
    width: 92%;
  }
  .container .x_panel {
    margin-left: -7%;
    width: 114%;
  }
  .container .x_panel .timeline li h2.title {
    font-size: 15px !important;
    width: 105%;
  }
  .container .x_panel .timeline li .byline {
    font-size: 9px;
  }
  .container .x_panel .timeline li .excerpt {
    font-size: 8px;
  }
  .container .x_panel .timeline li .block {
    margin: 0 0 0 30%;
  }
  .container .x_panel .timeline li .block .tags .tag {
    height: 20px;
    font-size: 8px;
    padding: 7px;
    width: 72%;
  }
  .container .x_panel .timeline li .block .tags .tag:after {
    margin-left: -28%;
    height: 20px;
    pointer-events: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .container .x_panel .x_content .btn {
    font-size: 8px;
  }
  .container .x_panel .x_content .alert {
    font-size: 8px;
  }
  .container .x_panel .x_content ul.msg_list li a .image img {
    width: 20%;
    margin-top: 2%;
  }
  .container .x_panel .x_content ul.msg_list li a .time {
    right: 40px;
  }
  .container .x_panel .x_content ul.msg_list li a .message {
    font-size: 8px;
  }
  .container .x_panel .x_content .bs-example .jumbotron h1 {
    font-size: 38px !important;
  }
  .container .x_panel .x_content .bs-example .jumbotron p {
    width: 100% !important;
    font-size: 14px !important;
  }
}
