.type-153 .site_title i {
  border: 1px solid #EAEAEA;
  padding: 5px 6px;
  border-radius: 50%;
}
.type-153 .active a span.fa {
  text-align: right !important;
  margin-right: 4px;
}
.type-153 body .container.body .right_col {
  background: #F7F7F7;
}
.type-153 .nav-md .container.body .right_col {
  padding: 10px 20px 0;
  margin-left: 230px;
}
@media (max-width: 1200px) {
  .type-153 .x_title h2 {
    width: 62%;
    font-size: 17px;
  }
}
@media (max-width: 1270px) and (min-width: 192px) {
  .type-153 .x_title h2 small {
    display: none;
  }
}
.type-153 .container {
  width: 100%;
  padding: 0;
}
.type-153 body {
  color: #73879C;
  background: #2A3F54;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}
.type-153 .col-md-4,
.type-153 .col-md-6,
.type-153 .col-md-8,
.type-153 .col-md-12,
.type-153 .col-sm-2,
.type-153 .col-sm-4,
.type-153 .col-sm-6,
.type-153 .col-sm-8,
.type-153 .col-sm-12 {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.type-153 .row {
  margin-right: -10px;
  margin-left: -10px;
}
.type-153 .h1,
.type-153 .h2,
.type-153 .h3,
.type-153 h1,
.type-153 h2,
.type-153 h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.type-153 a {
  color: #5A738E;
}
.type-153 a,
.type-153 a:active,
.type-153 a:focus,
.type-153 a:visited {
  outline: 0;
}
.type-153 .navbar-right {
  margin-right: 0;
}
.type-153 .nav>li>a {
  position: relative;
  display: block;
}
.type-153 .nav>li>a {
  padding: 13px 15px 12px;
}
.type-153 .nav>li>a:focus,
.type-153 .nav>li>a:hover {
  background-color: transparent;
}
.type-153 .toggle {
  float: left;
  margin: 0;
  padding-top: 16px;
  width: 70px;
}
.type-153 .toggle a {
  padding: 15px 15px 0;
  margin: 0;
  cursor: pointer;
}
.type-153 .toggle a i {
  font-size: 26px;
}
.type-153 .panel_toolbox {
  float: right;
  min-width: 70px;
}
.type-153 .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-153 .panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-153 .panel_toolbox>li>a:hover {
  background: #F5F7FA;
}
.type-153 .line_30 {
  line-height: 30px;
}
.type-153 .degrees:after,
.type-153 .x_content,
.type-153 .x_panel {
  position: relative;
}
.type-153 *,
.type-153 :after,
.type-153 :before {
  box-sizing: border-box;
}
.type-153 h2 {
  font-size: 18px;
  font-weight: 400;
}
.type-153 .x_panel,
.type-153 .x_title {
  margin-bottom: 10px;
}
.type-153 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
}
.type-153 .x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-153 .x_title .filter {
  width: 40%;
  float: right;
}
.type-153 .x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
}
.type-153 .x_title h2 small {
  margin-left: 10px;
}
.type-153 .x_title span {
  color: #BDBDBD;
}
.type-153 .x_content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 5px;
}
.type-153 .x_content h4 {
  font-size: 16px;
  font-weight: 500;
}
.type-153 .x_content,
.type-153 table.tile td ul li a,
.type-153 table.tile_info {
  width: 100%;
}
.type-153 h3.degrees {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.type-153 .degrees:after {
  content: "o";
  top: -12px;
  font-size: 13px;
  font-weight: 300;
}
.type-153 .daily-weather .day {
  font-size: 14px;
  border-top: 2px solid rgba(115,135,156,0.36);
  text-align: center;
  border-bottom: 2px solid rgba(115,135,156,0.36);
  padding: 5px 0;
}
.type-153 .weather-days .col-sm-2 {
  width: 16.66666667%;
}
.type-153 .weather .row {
  margin-bottom: 0;
}
.type-153 .dropdown-menu {
  box-shadow: none;
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 9998;
  border: 1px solid #D9DEE4;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.type-153 .dropdown-menu>li>a {
  color: #5A738E;
}
.type-153 ul.to_do {
  padding: 0;
}
.type-153 ul.to_do li {
  background: #f3f3f3;
  border-radius: 3px;
  position: relative;
  padding: 7px;
  margin-bottom: 5px;
  list-style: none;
}
.type-153 ul.to_do p {
  margin: 0;
}
.type-153 .dashboard-widget-content {
  padding-top: 9px;
}
.type-153 .dashboard-widget-content .sidebar-widget {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  text-align: center;
  float: right;
  padding: 2px;
  margin-top: 10px;
}
.type-153 a:focus {
  outline: 0;
}
.type-153 .clearfix:after,
.type-153 form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.type-153 table.countries_list {
  width: 100%;
}
.type-153 table.countries_list td {
  padding: 0 10px;
  line-height: 30px;
  border-top: 1px solid #eee;
}
