body {
  color: #73879C;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
  padding: 10px;
}
.type-165 {
  width: 100%;
}
.type-165 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
}
.type-165 .x_panel .x_title {
  margin-bottom: 10px;
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-165 .x_panel .x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  overflow: hidden;
  font-size: 18px;
  font-weight: 400;
}
.type-165 .x_panel .x_title h2 small {
  margin-left: 10px;
}
.type-165 .panel_toolbox {
  min-width: 70px;
}
.type-165 .panel_toolbox >li >a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-165 .navbar-right {
  margin-right: 0;
}
.type-165 .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.type-165 .nav >li {
  position: relative;
  display: inline-block;
}
.type-165 .x_content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top:  - 5;
  width: 100%;
}
.type-165 .editor.btn-toolbar {
  zoom: 1;
  background: #F7F7F7;
  margin: 5px 2px;
  padding: 3px 0;
  border: 1px solid #EFEFEF;
}
.type-165 .btn-toolbar .btn-group {
  margin-left: 5px;
  float: left;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.type-165 a:active {
  outline: 0;
}
.type-165 .open .dropdown-menu {
  display: block;
}
.type-165 .btn-B {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.type-165 .btn-group .btn {
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  float: left;
  position: relative;
}
.type-165 .editor-wrapper {
  min-width: 99%;
  min-height: 250px;
  background-color: #fff;
  border-collapse: separate;
  border: 1px solid #ccc;
  padding: 4px;
  box-sizing: content-box;
  box-shadow: rgba(0,0,0,0.07451) 0 1px 1px 0 inset;
  overflow: scroll;
  outline: 0;
  border-radius: 3px;
}
.type-165 .col-md-12,
.type-165 .col-md-3,
.type-165 .col-md-9,
.type-165 .col-sm-12,
.type-165 .col-sm-3,
.type-165 .col-sm-9,
.type-165 .col-xs-12,
.type-165 .col-xs-3,
.type-165 .col-xs-9 {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.type-165 .btn-B:link,
.type-165 .btn:visited,
.type-165 .btn:hover,
.type-165 .btn:active {
  background-color: #269abc;
  display: block;
}
.type-165 *,
.type-165 :after,
.type-165 :before {
  box-sizing: border-box;
}
@media (max-width: 320px) {
  .type-165 h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 156px;
  }
  .type-165 .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .type-165 .nav >li {
    position: relative;
    display: inline-block;
  }
  .type-165 input[type=file] {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 72px;
  }
}
@media (max-width: 411px) {
  .type-165 .nav {
    padding-left: 233px;
  }
}
@media (max-width: 320px) {
  .type-165 h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 156px;
  }
  .type-165 .nav {
    padding-left: 150px !important;
  }
}
@media (max-width: 375px) {
  .type-165 h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 156px;
  }
  .type-165 .nav {
    padding-left: 206px !important;
  }
}
@media (max-width: 414px) {
  .type-165 .nav {
    padding-left: 250px !important;
  }
}
@media (max-width: 375px) {
  .type-165 .nav {
    padding-left: 205px !important;
  }
}
@media (min-width: 320px) {
  .type-165 .nav {
    padding-left: 155px !important;
  }
}
@media (min-width: 375px) {
  .type-165 .nav {
    padding-left: 209px !important;
  }
}
@media (min-width: 425px) {
  .type-165 .nav {
    padding-left: 258px !important;
  }
}
