.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
}
h2 {
  font-size: 18px;
  font-weight: 400;
}
.panel_toolbox {
  min-width: 70px;
}
.panel_toolbox >li {
  float: left;
  cursor: pointer;
}
.panel_toolbox >li >a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.navbar-right {
  margin-right: 0;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav >li {
  position: relative;
  display: block;
}
.x_content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 5px;
  width: 100%;
}
table.tile td ul li a {
  width: 100%;
}
table.tile_info {
  width: 100%;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.form-group {
  margin-bottom: 10px;
}
