.type-154 {
  margin-top: 30px;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  color: #73879c;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}
.type-154 .top_tiles {
  margin-bottom: 0;
}
.type-154 .top_tiles .tile-stats {
  position: relative;
  display: block;
  margin-bottom: 12px;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 5px;
  overflow: hidden;
  padding-bottom: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.type-154 .top_tiles .tile-stats h3 {
  position: relative;
  margin: 0 0 0 10px;
  z-index: 5;
  padding: 0;
  color: #BAB8B8;
  margin-left: -119px;
}
.type-154 .top_tiles .tile-stats p {
  margin-left: -99px;
}
.type-154 .top_tiles .tile-stats .icon {
  width: 20px;
  height: 20px;
  color: #bab8b8;
  position: absolute;
  right: 53px;
  top: 22px;
  z-index: 1;
}
.type-154 .top_tiles .tile-stats .icon i {
  margin: 0;
  font-size: 60px;
  line-height: 0;
  vertical-align: bottom;
  padding: 0;
}
.type-154 .top_tiles .tile-stats .count {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.65857;
  position: relative;
  margin: 0 0 0 -193px;
  z-index: 5;
  padding: 0;
}
