.type-169 {
  background: @color1;
  color: #73879c;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
  background: @color2;
  display: block;
  padding: -1px 20px;
  z-index: 2;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }

  .x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #e6e9ed;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    margin-bottom: 10px;
    opacity: 1;
    transition: all 0.2s ease;

    ///Đoạn tiêu đề và 3 icon
    .x_title {
      border-bottom: 2px solid #e6e9ed;
      margin-bottom: 10px;
      padding: 1px 5px 6px;
      h2 {
        margin: 5px 0 6px;
        float: left;
        display: block;
        font-size: 18px;
        font-weight: 400;
      }
      .panel_toolbox {
        float: right;
        min-width: 70px;
        li {
          cursor: pointer;
          float: left;
          a {
            padding: 5px;
            color: #c5c7cb !important;
            font-size: 14px;
            &:hover {
              background: #f5f7fa !important ;
            }
          }
        }
      }
      ul {
        .navbar-right {
          margin-right: 0;
          margin-top: -34px;
          li {
            display: inline-block;
            position: static;
            margin-right: 0;
          }
        }
      }
    }
    //Kết thúc tiêu đề và 3 icon

    //Bắt đầu phần To Do List Sample tasks
    ul.to_do {
      padding: 0;
      li {
        background: #f3f3f3;
        border-radius: 3px;
        position: relative;
        padding: 7px;
        margin-bottom: 5px;
        list-style: none;
      }
      p {
        margin: 0;
      }
    }
    //Kết thúc
    ul.msg_list li {
      background: #f7f7f7;
      padding: 5px;
      display: -ms-flexbox;
      display: flex;
      width: 100% !important;
      &:last-child {
        margin-bottom: 6px;
        padding: 10px;
      }
      a {
        padding: 3px 5px !important;
        .time {
          font-size: 11px;
          font-style: italic;
          font-weight: 700;
          position: absolute;
          right: 60px;
        }
        .message {
          display: block !important;
          font-size: 11px;
        }
        .image img {
          border-radius: 2px;
          -webkit-border-radius: 2px;
          float: left;
          margin-right: 10px;
          width: 11%;
        }
      }
    }
    .timeline {
      li {
        position: relative;
        border-bottom: 1px solid #e8e8e8;
        clear: both;

        h2.title {
          position: relative;
          font-size: 16px;
          margin: 0;
        }
        .block {
          margin: 0 0 0 105px;
          border-left: 3px solid #e8e8e8;
          overflow: visible;
          padding: 10px 15px;
          .tags {
            position: absolute;
            top: 35px;
            left: -2px;
            width: 84px;
            .tag {
              display: block;
              height: 30px;
              font-size: 13px;
              padding: 8px;
              line-height: 1;
              background: #1abb9c;
              color: #fff !important;
              &:after {
                content: " ";
                height: 30px;
                width: 0;
                position: absolute;
                left: 100%;
                top: 0;
                margin: 0;
                pointer-events: none;
                border-top: 14px solid transparent;
                border-bottom: 14px solid transparent;
                border-left: 11px solid #1abb9c;
              }
              span {
                display: block;
                overflow: hidden;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
    .x_content {
      width: 100%;
      padding: 0 5px 6px;
      float: left;
      clear: both;
      margin-top: 5px;
      .bs-example {
        .jumbotron {
          h1 {
            font-size: 4.5em;
          }
          p {
            width: 400px;
            margin-bottom: 15px;
            font-size: 21.5px;
            font-weight: 200;
          }
        }
      }

      .alert-success {
        color: #fff;
        background-color: rgba(38, 185, 154, 0.88);
        border-color: rgba(38, 185, 154, 0.88);
      }
      .alert-info {
        color: #e9edef;
        background-color: rgba(52, 152, 219, 0.88);
        border-color: rgba(52, 152, 219, 0.88);
      }
      .alert-warning {
        color: #e9edef;
        background-color: rgba(243, 156, 18, 0.88);
        border-color: rgba(243, 156, 18, 0.88);
      }
      .alert-danger {
        color: #e9edef;
        background-color: rgba(231, 76, 60, 0.88);
        border-color: rgba(231, 76, 60, 0.88);
      }
    }
  }

  @media (max-width: 1200px) {
    .x_title h2 {
      width: 62%;
      font-size: 17px;
    }
  }
}

@media (max-width: 1025px) and (min-width: 770px) {
  .container {
    .x_panel {
      margin-top: 20px;
      width: 99%;
      margin-left: 1%;
      .x_content {
        .bs-example {
          .jumbotron {
            h1 {
              font-size: 3.5em !important;
            }
            p {
              width: 125% !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 769px) and (min-width: 427px) {
  .container {
    margin-top: 20px;
    width: 150% !important;
    padding: 0;
    .x_panel {
      margin-left: 3%;
      width: 97%;
    }
  }
}

@media (max-width: 426px) and (min-width: 322px) {
  .container {
    margin-top: 20px;
    width: 150% !important;
    padding: 0;

    .x_panel {
      margin-left: 15px;
      width: 97%;
      .timeline li {
        h2.title {
          font-size: 15px !important;
          width: 105%;
        }
        .byline{
          font-size: 9px;
        }
        .excerpt{
          font-size: 8px;
        }
        .block {
          margin: 0 0 0 82px;
          .tags .tag {
            height: 25px;
            font-size: 8px;
            padding: 7px;
            width: 82%;
            &:after {
              margin-left: -15px;
              height: 25px;
              pointer-events: none;
              border-top: 12px solid transparent;
              border-bottom: 12px solid transparent;
              border-left: 11px solid #1abb9c;
            }
          }
        }
      }
      .x_content {
        .bs-example {
          .jumbotron {
            h1 {
              font-size: 60px !important;
            }
            p {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 321px) {
  .container {
    margin-top: 20px;
    width: 92%;
    .x_panel {
      margin-left: -7%;
      width: 114%;
      .timeline li {
        h2.title {
          font-size: 15px !important;
          width: 105%;
        }
        .byline{
          font-size: 9px;
        }
        .excerpt{
          font-size: 8px;
        }
        .block {
          margin: 0 0 0 30%;
          .tags .tag {
            height: 20px;//1
            font-size: 8px;
            padding: 7px;
            width: 72%;//3
            &:after {
              margin-left: -28%;//100% -3
              height: 20px;//1
              pointer-events: none;
              border-top: 10px solid transparent;//1/2
              border-bottom: 10px solid transparent;//1/2
            }
          }
        }
      }
      .x_content {
        .btn {
          font-size: 8px;
        }
        .alert {
          font-size: 8px;
        }
        ul.msg_list li a {
          .image img {
            width: 20%;
            margin-top: 2%;
          }
          .time {
            right: 40px;
          }
          .message {
            font-size: 8px;
          }
        }
        .bs-example {
          .jumbotron {
            h1 {
              font-size: 38px !important;
            }
            p {
              width: 100% !important;
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }
}
